@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", serif;
}

body{
    background-color: #F5F5F5;
}

/* header section code start */

header > nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 120px;
}

header > nav > p{
    color: black;
    font-size: 32px;
    font-weight: bold;
}

header > nav > p > span{
    color: #0a6d0a;
}

header > nav > button{
    font-size: 16px;
    border: 1px solid #006A50;
    color: #006A50;
    background-color: transparent;
    width: 86px;
    height: 40px;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
}

header > nav > button:hover{
    background-color: #01AF84;
    color: white;
}
/* header section code end */

/* hero-area section code start  */
.hero-area{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c1e4d3;
    width: 85%;
    margin: 0 auto;
    padding: 90px;
    border-radius: 25px;
    transition: 0.5s;
}

.hero-area .hero-content{
    width: 35%;
    height: auto;
    background-color: transparent;
}

.hero-area:hover{
  background-color: #D4D9D7;
}

.hero-content .hero-title{
    color: #7F7C7C;
    font-size: 25px;
    font-weight: 500;
}

.hero-content .hero-description{
    color: black;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    margin-top: 15px;
}

.hero-content button{
    background-color: #006A50;
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 25px;
    font-weight: 500;
    font-size: 18px;
    background-color: #006A50;
    padding: 17px 40px;
    cursor: pointer;
    transition: 0.5s;
}

.hero-content button:hover{
    background-color: #01AF84;
}

.hero-area .hero-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.hero-area .hero-image img{
    width: 60%;
}
/* hero-area section code end  */



